* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}


body {
  line-height: 1;
  display: flex;
}


html,
body {
  font-size: 16px;
  width: 100%;
  font-family: "Quicksand", sans-serif;
  overflow-x: hidden;
  overflow-y: hidden;
}

body {
	background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
	height: 100vh;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

nav {
  border-bottom: #5b07e1 2px solid;
  width: 100%;
  padding: 0.625em;
  display: fixed;
  height: 2em;
  background-color: rgba(255, 255, 255, 0.63);
}


.content {
  background-color:rgba(255, 255, 255, 0.63);
  border-radius:.25em;
  box-shadow:0 0 .25em rgba(0,0,0,.25);
  height: 400px;
  width: 600px;
  left:50%;
  padding:10vmin;
  position:absolute;
  text-align:center;
  top:50%;
  transform:translate(-50%, -50%);
  margin-top: 30px;
}

h1 {
  font-size: 2em;
  display: inline-block;
  justify-content: left;
  padding-left: 1em;
}

#rules {
  position: absolute;
  z-index: 999;
  width: 31.25em;
  height: 31.25em;
  text-align: center;
  left: 50%;
  margin-left: -250px;
  top: 50%;
  margin-top: -150px;
}

#rules p {
  margin-bottom: 1.25em;
}


#game-container {
  text-align: center;
  margin: auto;
  width: auto;
  height: auto;
  z-index: 999;
}

#game-container p {
  display: inline-block;
  margin-right: 1em;
  margin-bottom: 3em;
  font-weight: 500;
  font-size: 1.5em;
}

#game-container p span {
  font-weight: 300;
}


#game-container p#info {
  display: block;
  text-align: center;
  font-size: 2em !important;
  height: 2em;
  margin-bottom: 1em;
}

#scrambled-word {
  font-size: 3em !important;
  font-family: "Anton", sans-serif;
  text-transform: uppercase;
  display: block;
  margin-left: 48px;
  margin-bottom: 1em !important;
}

#scrambled-word p {
  display: block;
  width: 100%;
}

#user-guess {
  display: block;
  width: 20em;
  height: 3em;
  padding-left: 1em;
  margin: 0 auto 1.25em;
  border: 1px solid #000;
  outline-color: #5b07e1;
  font-size: 1.1em;
}

small {
  font-size: 0.8em;
}

.lead {
  font-size: 1.2em;
  font-weight: 700;
}

.correct,
.incorrect {
  font-size: 1.5em;
  font-weight: 700;
}

.correct {
  color: green;
  display: block;
}

.incorrect {
  color: red;
  display: block;
}

.hidden {
  visibility: hidden;
}

button {
  cursor: pointer;
  width: 12em;
  height: 3em;
  outline: none;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 1.1em;
}

#submit,
#play-btn {
  background: #fff;
  border: 2px solid #5b07e1;
}

#submit:hover,
#play-btn:hover {
  background: #5b07e1;
  color: #fff;
  transition: 0.2s background;
}

#reset-btn {
  background: #fff;
  border: none;
  box-shadow: 1px 1px 1px #999;
}


#reset-btn:hover {
  box-shadow: 1px 1px 1px #000;
  transition: 0.2s box-shadow;
}


button:active {
  position: relative;
  top: 1px;
}
